#taille{
	background-size: 100%;	
}


body{
	background-image: url("../img/1.jpeg");
 	background-size: 100%;
 	height: 100%;

}


#brand{
	font-size: 150%;
	text-align: center;
	color: blue;
	margin-right: 700px;
	position: relative;
	z-index: 3;

}
#navb{
	font-size: 150%;
	text-align:center;
	color: blue;
	margin-left: -570px;
	position:fixed;	
	z-index: 3;

}
#navb1{
	font-size: 150%;
	text-align:center;
	color: blue;
	z-index: 3;
	position: fixed;
}
#h1{
	text-align: center;
	color: #545454;
}

#presentation{
	font-size: 160%;
    color: #545454;

}
#home{
	margin-top: 8%;
	height: 100%;
	text-align: center;
	margin-top: 4%;
}
.boutton{
	background-color: #545454;
	color: white;
	border-radius: 20px;
}
#button1{
	float: left;

}
#button2{
	float: right;

}

#centre{
	margin-left: 25%;
}

#presentation1{
	text-align: center;
	color: #545454;
	font-size: 160%;
	margin-top: 0px;
}

#fcb{
	height: 300px;
}
#presentation2{
	margin-bottom: 50px;
	margin-top: 50px
}
#carte{
	/*margin-left: 300px;*/
	margin-top: 5%;
	/*width: 100%;*/
}
#success_message{ display: none;}

#footer{
	text-align: center;
	font-weight: bold;
}

#top{
	float: left;
	margin-left: 620px;
}
#gototop{
	padding-left: 1250px;
	font-size: 300%;
	margin-top: -80px;

}
#drop{
	color: blue;
	margin-left: 1110px;
	margin-top:-77px; 
	font-size: 150%;
}

#bas2{
	font-size: 250%;
	color: blue;
/*	margin-top: 555px;
*/


}
#formulair{ 
border-radius: 10%;
 }

/*
 nav{
 	position: relative;
 	z-index: 2
 }

*/

#mydiv1{
 	position: absolute;
 	z-index: 2;

 	width: 100%;
 }